<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NAVBAR</title>
     <link rel="stylesheet" href="css/style.css">
</head>
<body>
   


    {{>navbar}}
    <div class="middle">
    <div class="main">
        <h1 class="sale">70% <span>SALE OFF</span></h1>
        <span class="summer">Summer Vibes</span>
        <span class="mode">mode on</span>
        <button class="btn">Shop Now</button>
       
    </div>

    <div class="head">Our Trends</div>
    <div class="center">
       
            <div class="item"id="item1">
                <div>
                    <p class="first">Girls</p>
                    <p class="second">Clothing</p>
                    <p class="third">world best brand</p>
                </div>
            </div>
            <div class="item"id="item2">  
                <p class="first">Summer</p>
                <p class="second">Clothing</p>
                <p class="third">world best brand</p>
            </div>
            <div class="item"id="item3">
                <p class="first">Boys</p>
                <p class="second">Clothing</p>
                <p class="third">world best brand</p>
            </div>
       
    </div> 
    </div> 

    <!-- fotter -->
    <footer id="footer" class="section footer">
        <div class="container">
          <div class="footer-container">
            <div class="footer-center">
              <h3>EXTRAS</h3>
              <a href="#">Brands</a>
              <a href="#">Gift Certificates</a>
              <a href="#">Affiliate</a>
              <a href="#">Specials</a>
              <a href="#">Site Map</a>
            </div>
            <div class="footer-center">
              <h3>INFORMATION</h3>
              <a href="#">About Us</a>
              <a href="#">Privacy Policy</a>
              <a href="#">Terms & Conditions</a>
              <a href="#">Contact Us</a>
              <a href="#">Site Map</a>
            </div>
            <div class="footer-center">
              <h3>MY ACCOUNT</h3>
              <a href="#">My Account</a>
              <a href="#">Order History</a>
              <a href="#">Wish List</a>
              <a href="#">Newsletter</a>
              <a href="#">Returns</a>
            </div>
            <div class="footer-center">
              <h3>CONTACT US</h3>
              <div>
                <span>
                  <i class="fas fa-map-marker-alt"></i>
                </span>
                42 Dream House, Dreammy street, 7131 Dreamville, USA
              </div>
              <div>
                <span>
                  <i class="far fa-envelope"></i>
                </span>
                company@gmail.com
              </div>
              <div>
                <span>
                  <i class="fas fa-phone"></i>
                </span>
                456-456-4512
              </div>
              <div>
                <span>
                  <i class="far fa-paper-plane"></i>
                </span>
                Dream City, USA
              </div>
            </div>
          </div>
        </div>
        </div>
      </footer>
</body>
</html>